body {
    margin: 0;
}

h3{
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24.5px;
  margin-left: -90%;
  margin-top: 7%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #fff;
    color: black;
  }

  button {
          display: block;
          color: black;
          text-align: center;
          padding: 0px 10px;
          text-decoration: none;
          border: none;
          background-color: red;
      }

  table {
    border-collapse: collapse;
    width: 70%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: 5%;
  }

  table th,
  table td {
    text-align: left;
    padding: 12px;
  }

  table tr {
    color: #fff;
    border-bottom: 1px solid #ddd;
  }

  table thead {
    background-color: rgba(135, 207, 235, 0.719);
  }

  .input{
    height: 20px;
  }

h1{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.form__text {
    text-align: center;
}

label{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}
.form__link:hover {
    text-decoration: underline;
}

input[type="text"],
input[type="date"]{
    margin: 3px;
    text-align: center;
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid #000;
    width: 250px;
    color: var(--border-radius);
    border-radius: 10px;
    transition: 0.2s;
    margin-right: 3%;    
}
input[type="text"]:focus{
    width: 270px; 
    border-color: black;
}

input[type="submit"]{
    border: 0 solid #ffef08;
    display: block;
    margin: 20px;
    text-align: center;
    padding: 12px 15px;
    color: #fff;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 12px;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 1050px;
}

div {
    display: flex;
    align-items: center;
    margin: 50px;
    padding: 10px 20px;
    padding-left: 5rem;
}

.addnewproduct{
  /* border: 1px solid #000; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 3% 5% 0 5%;
}