<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="CSS/style2.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style2.css') }}">
 
  <title>login</title>
</head>
<body>
  
  <form action="/login" class="box" method="POST">
    <h1 >LOGIN</h1>
      
    {{  form.hidden_tag() }}
   
    {{ form.username(id='username') }} 
    
    {{ form.password(id='password') }} 


    {{ form.login(href='/dls')}}

    {{ form.csrf_token }}
  </form>  

    
</body>
</html>